/* @import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Roboto+Slab:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Reggae+One&family=Roboto+Slab:wght@300&display=swap');
/* CopyRight */
@import url(//fonts.googleapis.com/css?family=Oregano|Merienda);
/* .footer .credit{
  margin-top: 14px;
} */
.mwl {
font-family: 'Merienda', cursive;
color: red;
font-size: 15px;
font-weight: bold;
}
.ks {
font-family: 'Oregano', cursive;
font-size:20px;
color: red;
}
.ks a{
text-transform: none !important;
font-weight: bolder;
}

*{
  font-family: 'Lora', serif;
  margin:0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}
body{
  max-height:300rem;
}
html{
  font-size:62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding: 4rem;
}
header{
  position: fixed;
  top:0;left: 0;right: 0;
  z-index: 1000;
  padding: 1.4rem 6%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(128, 236, 200,0.9);
}
#title{
  width:95px; height:42px;
}
header .navbar a{
  font-size: 2rem;
  margin-left: 2.5rem;
}
header .navbar a:hover{
  color: red;
}
#menu-bar{
  font-size:3rem ;
  color: orange;
  cursor: pointer;
  display: none;
}


/* section */
section .home{
  padding: 3rem 9%;
}
.home{
  background-image: url(img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-align: center;
}
.home .content{
  padding-top: 8.5rem;
  max-width:70rem;
  margin:0 auto;
}
.home .content h1{ 
  font-size:4.5rem;
  color: brown;
}
.home .content p{
  font-size:1.8rem;
  padding: 1rem 0;
}
/* swiper */
.home .swiper-container {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 30rem;
  height: 30rem;
  -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
}
.home .swiper-slide img {
  display: block;
  width: 100%;
  height:100%;
}

.footer{
  text-align: center;
  background:aquamarine;
  height: 14.5rem;
  /* padding: 20px; */
  padding-top: 35px;
  /* margin: 0 auto; */
}

.footer .share a{
  height: 4.5rem;
  width:4.5rem;
  line-height: 4.5rem;
  background:#eee;
  border-radius: 50%;
  font-size: 2rem;
  margin:.3rem;
}

.footer .share a:hover{
  color:rgb(240, 46, 46);
  background:var(--gradient);
}


/* product */

section .product {
  padding: 3rem 9%;
  
}
.product{
  background-image: url(img10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  text-align: center; 
  padding-top: 24rem;
  width: 100%;
  
}
.pro-content{
  padding-top: 4%;
}
.product .pro-content p{
  font-size: 28px;
  padding-right: 35% ;
  padding-left: 17%;
  color:rgb(250, 246, 246);
}
.product .pro-content h1{
  font-size:4rem ;
  padding-right: 45% ;
  padding-left: 1%;
  padding-bottom: 4px;
  /* border: 2px solid black; */
  color: rgb(210, 189, 230);
}
.our-product{
  /* background-color: rgb(231, 229, 227); */
  margin: 1.8%;
  padding: 2%;
}
.our-product .box{
  position: relative;
  box-sizing: border-box; 
  margin: 1%;
  /* width: 50%; */
  /* align-items: center; */
  display: flex;
  /* justify-content: center; */
}
.imgbx img{
  height: 100%;
  width:100% ;
}
.box .imgbx{
  max-width: 310px;
  height: 300px;
  margin: 0 3%;
}
 .box h1{
   font-size: 35px;
   font-weight: bolder;
   color: rgb(16, 9, 112);
   margin-bottom: 1%;
   line-height: 38px;
   text-decoration: underline rgb(18, 19, 18);
}
 .box p{
   font-size: 18px;
 }
 .box .cont{
   background-color: rgb(227, 230, 220);
   border-radius:22px ;
   padding: 14px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
#list{
  /* display:flex; */
  font-size: 22px;
  box-sizing: border-box;
  margin: 65px;
  /* background-color: rgb(216, 226, 194); */
  width: 50%;
}

.blog-company{
  /* box-sizing: border-box; */
  /* background-color: rgb(192, 199, 178); */
  display: inline-block;

  /* justify-self:center; */
  font-size: 20px;
  /* margin: 10px; */
  color: rgb(47, 115, 192);
  margin-left: 55px;
}
.blog-company h1{
text-decoration:underline ;
}

.blog-company a{
  color: green;
  /* padding: 10px; */
  text-decoration: none;
  
}
.blog-company a:hover{
  color: red;
}
.blog-company a:visited{
  color: blue;
}
#about{
  background-color:rgb(223, 241, 253);
  width: 100%;
  height: 100vh;
  z-index: 2;
  padding:20px 20px ;
}
#about .box2{
  background-color: rgba(182, 182, 218);
  width: 90%;
  max-height: 100vh;
  position: relative;
  z-index: 1;
  padding: 2%;
  font-size: 16px;
  margin: 3%;
  border-radius: 10px;
  line-height: 30px;
  margin-bottom: 140px;
}
#about .box2 p span{
  color: aquamarine;
  /* margin-top: 14px; */
}
#about .box2 h1{
  color: rgb(2, 94, 94);
  font-size: 40px;
  text-decoration:3px underline rgb(214, 205, 198);
  margin-bottom: 10px;
}
#about .box2 h2{
  color: rgb(218, 241, 236);
  font-size: 23px;
}
.box3{
  max-width: 100%;
  height: 90vh;
  background-image: url(img15.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover ;
  margin-bottom: 4px; 
  z-index: 1;
}
/* contact Page */
#contact .container{
  width: 90%;
  height: auto;
  background-color: rgb(250, 249, 248);
  margin-top: 72px;
  margin-bottom: 10px;
  margin-left:auto ;
  margin-right: auto;
}
#contact .row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#contact .card{
  flex:1 1 5%;
  /* width:15%; */
  background-color: rgb(243, 237, 237);
  border: 2px solid rgb(117, 107, 107);
  margin-bottom: 10px;
  margin-left: 4px;
  transition: 0.3sec;
  max-height: 5%;
  border-radius: 1rem;
}
#contact .card-header{
  text-align: center;
  padding: 10px 8px;
  background-color: rgb(142, 183, 221);
  font-size: 14px;

}
#contact .card-body{
  padding:10px;
  text-align: center;
  font-size: 15px;
}
#contact .card-body h2{
  font-size: 16px;
  color: blue;
  text-decoration: 2px grey underline;
}
#contact .card:hover{
  transform: scale(1.05);
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.4);
}
#contact .content{
  /* padding:20px 40px; */
  text-align: center;
  padding: 10px;

}
#contact ul{
  list-style-type: none;
  font-size: 20px;
  color: rgb(16, 8, 117);
}
#contact .kn{
  font-size: 20px;
  color: rgb(11, 4, 20);
  font-family: cursive;
  font-weight: bold;
}

#contact a{
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: underline;
  color: rgb(211, 58, 191);
}  
#contact .heading{
  font-weight: bolder;
  font-size:50px;
  color: rgb(27, 167, 223);
  text-align: center;
  /* margin-bottom: 15px; */
}
#contact #comment{
  font-weight: bolder;
  color:red;
  letter-spacing: 2px;
  font-size:24px;
  margin: 15px;
}
/* #contact{
  max-width: 100%;
  background-color: rgb(234, 238, 245);
  margin-top: 5%;
  line-height: 30px;
  padding-top:5%;
  font-size: 15px;
  text-align: center;
  padding: 3%;
} */
/* #contact h1{
  font-weight: bolder;
  font-size:50px;
  color: rgb(27, 167, 223);
  margin-bottom: 15px;
}
#comment{
  font-weight: bolder;
  color:red;
  letter-spacing: 2px;
  font-size:24px;
}
#contact u{
 color:rgb(75, 7, 163);
 text-decoration:2px black underline;
 font-size: 25px;
}
#contact p{
  color: rgb(3, 71, 71);
  font-size: 20px;
  font-weight: bold;
  /* padding: 3px; 
}
/* #contact ul{
  list-style-type: none;
  font-size: 18px;
}
#contact a{
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: underline;
  color: rgb(32, 161, 221);
} */ 
.navbar #home1{
  background-color: rgb(140, 140, 236,0.8);
  color: white;
  border-radius: 4px;
  padding: 3px;
}
.navbar #about1{
  background-color: rgba(162, 162, 182, 0.7);
  color: white;
  border-radius: 4px;
  padding: 3px;
}
.navbar #product1{
  background-color: rgba(11, 11, 207, 0.7);
  color: white;
  border-radius: 4px;
  padding: 3px;
}
.navbar #contact1{
  background-color:  rgba(146, 189, 219, 0.9);
  color: white;
  border-radius: 4px;
  padding: 3px;
}







/* responsive code */
 @media(max-width:991px){ 
  html{
    font-size:55%;
  }
  header{
    padding: 2rem 4%;
  }
  img { max-width: 100%; height: auto; }
  #about{
    width: 100%;
    max-height: 100vh;
    padding-bottom:100px;
  }
  #about .box2{
    width: 90%;
    max-height:50%;
    font-size: 16px;
    line-height: 25px;
  } 
} 
@media(max-width:768px){
  #menu-bar{
    display: block;
  }
  header .navbar{
    position: absolute;
    top:100%;
    right: 0;left: 0;
    border-top:rgb(128, 236, 200);
    padding: 1rem 2rem;
    background-color: rgb(128, 236, 200);
    clip-path:polygon(0 0,100% 0,100% 0,0 0);
  }
  header .navbar a{
    display: block;
    margin: 1.5rem 0;
    padding:1rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color:rgb(210, 228, 222);
  }
  header .navbar a:hover{
    color: rgb(247, 18, 18);
  }
  .fa-times{
    transform: rotate(180deg);
  }
  
   header .navbar.nav-toggle{
     clip-path:polygon(0 0,100% 0,100% 100%,0 100%);
     /* background-color: rgb(8, 37, 37); */
   }
   img { max-width: 100%; height: auto; }
   #about{
    width: 100%;
    max-height: 100vh;
    padding-bottom:550px;
  }
  #about .box2{
    width: 90%;
    max-height:50%;
    font-size: 16px;
    line-height: 25px;
  }
  .our-product .box p{
    font-size: 16px;
  }
  .our-product .box h1{
    font-size: 20px;
  }
 
}
@media(max-width:400px){ 
  html{
    font-size:50%;
  }
  header{
    padding: 1rem 3%;
  }
  
  img { max-width: 100%; height: auto; }
  #about{
    width: 100%;
    max-height: 100vh;
    padding-bottom:800px;
      }
  #about .box2{
    width: 90%;
    max-height:50%;
    font-size: 16px;
    line-height: 25px;
    
  }
  #contact .container{
    font-size:5%;
    /* flex-direction: column; */
    /* background-color: black; */
  }
  .our-product .box p{
    font-size: 10px;
  }
  .our-product .box h1{
    font-size: 18px;
  }

}
